.div{
    display: flex;
    align-items: center;
}
.div img{
    margin: 10px 10px 10px 0px;
}
.div p{
    margin: 0px;
}
.m{
    width: 50px ;
    height:  auto;
}
.ma{
    display: flex;
    align-items: start;
    font-size: 21px;
    margin:20px 5px 0px 5%
}
.holdbut button{
    width: 90%;
    margin: 0px 5% 0px 5%;
}